<a href="https://colab.research.google.com/github/IlinaAS/Osnovy_programming/blob/main/Lab4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python

#
# Выполнила: Ильина А. С.
# Группа: АДЭУ-221
# E-mail: alishass.ilyina@yandex.ru

# 4.2.1. Условный оператор
# № 4.2.1

Рассчитать значение f при заданном значении вещественного числа x:

![Снимок.PNG]()

При выводе на экран оставьте 2 знака после запятой.

In [ ]:
x = int(input('x=')) # Удалите комментарий и допишите код


if x >= 0:
      f = (x**(1/2))+(x**2)   # Удалите комментарий и допишите код
else:
      f=1/x

  

print('f = ', round(f, 2)) # Удалите комментарий и допишите код)

# --------------
# Пример вывода:
#
# Введите число x: -10
# f = -0.10

# Введите число x: 0
# f = 0.00

# Введите число x: 10
# f = 103.16

x=10
f =  103.16

# № 4.2.2

Определите максимальное и минимальное значения из двух различных целых чисел.

In [ ]:
a1 = int(input('a1='))   # Удалите комментарий и допишите код
a2 = int(input('a2='))   # Удалите комментарий и допишите код

# Переменная 'a_min' должна содержать минимум, 'a_max' - максимум
if a1 > a2:
    print('Максимум:', a1, 'минимум:', a2)
else:
    print('Максимум:', a2, 'минимум:', a1)



# --------------
# Пример вывода:
#
# Введите первое число: 1
# Введите второе число: 2
# Максимум: 2, минимум: 1

# Введите первое число: 5
# Введите второе число: 5
# Максимум: 5, минимум: 5

# Введите первое число: 100
# Введите второе число: -1
# Максимум: 100, минимум: -1

a1=100
a2=-1
Максимум: 100 минимум: -1

# № 4.2.3

Вася пытается высунуть голову в форточку размерами a и b см. Приняв условно, что его голова - круглая диаметром d см, определите, сможет ли Вася сделать это. Для прохождения головы в форточку необходим зазор в 1 см. с каждой стороны.

Все величины - целые числа.

In [ ]:
a = int(input('Ширина форточки: '))  # Удалите комментарий и допишите код
b = int(input('Высота форточки: '))  # Удалите комментарий и допишите код
d = int(input('Диаметр головы: '))  # Удалите комментарий и допишите код
fix = 1  # Зазор

if ((a or b or d) < 0):
    print('Проверьте ввод')
# Введенные числа должны быть положительными, если так - осуществляем
# расчет, иначе выводим "Проверьте ввод"
else:
    if (a + fix > d) and (b + fix > d):   # Удалите комментарий и допишите код
        print("Да")
    # Вывести "Да" или "Нет"
    # Удалите комментарий и допишите код
    else:
        print("Нет")
    # Удалите комментарий и допишите код

# --------------
# Пример вывода:
#
# Ширина форточки: 5
# Высота форточки: 6
# Диаметр головы: 6
# Нет

# Ширина форточки: 6
# Высота форточки: 7
# Диаметр головы: 4
# Да

Ширина форточки: 6
Высота форточки: 7
Диаметр головы: 4
Да

# № 4.2.4

Известны год и номер месяца сегодняшнего дня, а также год и номер месяца рождения человека (нумерация месяцев с 1: январь - 1 и т.д.). Определите возраст человека (число полных лет).

In [ ]:
year_today = int(input('Введите текущий год: '))    # Удалите комментарий и допишите код
month_today = int(input('Введите текущий месяц: ')) # Удалите комментарий и допишите код

year = int(input('Введите год рождения: ')) # Удалите комментарий и допишите код
month = int(input('Введите месяц рождения: ')) # Удалите комментарий и допишите код


if (month_today >= month):
    age = (year_today - year)
else:
    age = (year_today - year - 1)

print("Число полных лет: ", age)

# --------------
# Пример вывода:
#
# Введите текущий год: 2017
# Введите текущий месяц: 5
# Введите год рождения: 2000
# Введите месяц рождения: 1
# Число полных лет:  17
#
# Введите текущий год: 2015
# Введите текущий месяц: 6
# Введите год рождения: 2010
# Введите месяц рождения: 8
# Число полных лет:  4
#
# Введите текущий год: 2020
# Введите текущий месяц: 5
# Введите год рождения: 2000
# Введите месяц рождения: 5
# Число полных лет:  20

Введите текущий год: 2020
Введите текущий месяц: 5
Введите год рождения: 2000
Введите месяц рождения: 5
Число полных лет:  20

# № 4.2.5

Дана точка с целыми ненулевыми координатами (x;y). Определить номер четверти координатной плоскости, которой она принадлежит.

In [ ]:
x = int(input('Введите координату x: ')) 
y = int(input('Введите координату y: '))

if (x and y > 0):
    print("1-я четверть")
elif (x<0 and y>0):
    print('2-ая четверть') 
elif (x<0 and y<0):
    print('3-я четверть')
elif (x>0 and y<0):
    print('4-ая четверть')


# --------------
# Пример вывода:
#
# Введите координату x: 5
# Введите координату y: 7
# 1-я четверть

Введите координату x: 5
Введите координату y: 7
1-я четверть

# № 4.2.6

Даны вещественные числа a, b, c (a≠0).

Решите уравнение ax2+bx+c=0. При выводе значений оставьте 1 знак после запятой.

In [ ]:
a = float(input('a = '))# Удалите комментарий и допишите код
b = float(input('b = '))# Удалите комментарий и допишите код
c = float(input('c = '))# Удалите комментарий и допишите код

D = ((b**2)-(4*a*c))

if (D > 0):
  x1 = (((-1*b)+(D**(1/2)))/2*a)
  x2 = (((-1*b)-(D**(1/2)))/2*a)
  print("x1 = ",x1,"x2 = ",x2)
elif (D == 0):
  print('x =', round(((-1*b)/2*a), 1))
else: 
  print('Решений нет')
# Расчет дискриминанта
# Удалите комментарий и допишите код

# Вывод решения в зависимости от значения дискриминанта
# При выводе значений оставьте 1 знак после запятой
# Удалите комментарий и допишите код

# --------------
# Пример вывода:
#
# a = 1
# b = 2
# c = 3
# Решений нет
#
# a = 1
# b = 2
# c = 1
# x = -1.0
#
# a = 1
# b = 3
# c = -4
# x1 = -4.0, x2 = 1.0

a = 1
b = 3
c = -4
x1 =  1.0 x2 =  -4.0

# 4.2.2. Цикл с условием
# № 4.2.7

Дана непустая последовательность целых чисел, оканчивающаяся нулем. Найти сумму и количество введенных чисел.

In [ ]:
nums_sum = 0  # сумма
nums_count = 0  # количество

x, n, sum = 1, -1, -1   # Удалите комментарий и допишите код
while x != 0:
    sum += x
    n += 1
    x = int(input())
print('Сумма =',sum,'Количество =',n)# Удалите комментарий и допишите код

# Удалите комментарий и допишите код

# --------------
# Пример вывода:
#
# Введите 1-е число: 1
# Введите 2-е число: 2
# Введите 3-е число: 3
# Введите 4-е число: 4
# Введите 5-е число: 0
# Сумма = 10
# Количество = 4
#
# Введите 1-е число: 0
# Сумма = 0
# Количество = 0

0
Сумма = 0 Количество = 0

# № 4.2.8

Дано число n. Из чисел 0,5,10,15,20,25,... напечатать те, которые не превышают n.

In [ ]:
n = int(input('n ='))  # Удалите комментарий и допишите код

a = 0
print(a)
# Удалите комментарий и допишите код
while a<=n:
      a = a+5
      if a<n:
        print(a)
      else:
        break
# --------------
# Пример вывода:
#
# n = 0
# 0
#
# n = 10
# 0
# 5
# 10
#
# n = 12
# 0
# 5
# 10

n =12
0
5
10

# № 4.2.9

Дано вещественное число a. Найдите наименьшее натуральное n, для которого верно

 ![Снимок.PNG]()

In [ ]:
a = float(input('a = '))    # Удалите комментарий и допишите код

n = 1 #Присваиваю статичное значение для переменной
x_sum = list()    #Создаю список
x_sum.append(n)     #Добавляю последним элементом в список

while sum(x_sum)<=a:
  n = n+1
  i = 1/n
  x_sum.append(i)


print('n = ',n)

# Удалите комментарий и допишите код

# --------------
# Пример вывода:
#
# a = 1.5
# n = 3
#
# a = 2
# n = 4

a = 2
n =  4

# № 4.2.10

Дано натуральное число. Определите сумму и количество его цифр.

In [ ]:
n = list(map(int, input('n = ')))  # Удалите комментарий и допишите код

n_sum = sum(n)  # Удалите комментарий и допишите код
n_count = len(n)  # Количество элементов в списке n

print('Сумма = ', n_sum)
print('Количество = ', n_count)
# Удалите комментарий и допишите код

# --------------
# Пример вывода:
#
# n = 12345
# Сумма = 15
# Количество = 5

n = 12345
Сумма =  15
Количество =  5

# 4.2.3. Совместный цикл (цикл по коллекциям)
# № 4.2.12

Даны целые числа a и b (a может быть больше b). Напечатайте:

числа от минимального до максимального в строчку (разделяя пробелом);

числа от максимального до минимального «столбиком».

In [ ]:
a = int(input('a = '))    # Удалите комментарий и допишите код
b = int(input('b = '))    # Удалите комментарий и допишите код


lst = list(range(a,b+1,1))
print(lst)

lst.reverse()  # Переворот списка
print("\n".join(map(str, lst)))
 

# --------------
# Пример вывода:
#
# a = 1
# b = 5
# 1 2 3 4 5
# 5
# 4
# 3
# 2
# 1

a = 1
b = 5
[1, 2, 3, 4, 5]
5
4
3
2
1

# № 4.2.13

Для введенных с клавиатуры положительных целых чисел a и b (a≤b) определите:

сумму всех целых чисел от a до b;

произведение всех целых чисел от a до b;

среднее арифметическое всех целых чисел от a до b;

среднее геометрическое нечетных чисел от a до b.

Отрезок поиска включает сами числа a и b. При выводе вещественных результатов оставьте два знака после запятой.

In [ ]:
a = int(input('a = '))    # Удалите комментарий и допишите код
b = int(input('b = '))# Удалите комментарий и допишите код

ls = list(range(a,b+1,1))
n_sum = sum(ls)

n_mult = 1
a = 0
while a<len(ls):
    n_mult = n_mult*ls[a]
    a += 1

n_avg = n_sum/len(ls)

print("Сумма =", n_sum)
print("Произведение =", n_mult)
print("Среднее арифметическое =", n_avg)

b = 0
c = 0
n_avg_geom = 1
while b<len(ls):
    if ls[b]%2==1:
        n_avg_geom = n_avg_geom*ls[b]
        b += 2
        c += 1
    else:
        b += 1

n_avg_geom = round((n_avg_geom**(1/c)), 2)

print("Среднее геометрическое нечетных чисел =", n_avg_geom)

# --------------
# Пример вывода:
#
# a = 1
# b = 5
# Сумма = 15
# Произведение = 120
# Среднее арифметическое = 3.00
# Среднее геометрическое нечетных чисел = 2.47

a = 1
b = 5
Сумма = 15
Произведение = 120
Среднее арифметическое = 3.0
Среднее геометрическое нечетных чисел = 2.47

# № 4.2.14

Начав тренировки, лыжник в первый день пробежал s км. (s>0, вещественное число). Каждый следующий день он увеличивал пробег на p % (0<p≤100, вещественное число) от пробега предыдущего дня. Определите:

пробег лыжника за второй, третий, …, десятый день тренировок;

какой суммарный путь он пробежал за первые 10 дней тренировок.

При выводе вещественных результатов оставьте один знак после запятой.

In [ ]:
s = float(input('Пробег за первый день (км.) = '))    
p = float(input('На сколько увеличивает пробег (%) = '))    

ls = list()
ls.append(s)    # Добавляю элемент в конец списка

b = 1     # Переменная для удобства
for x in range(9):  # Цикл на 10 действий 
  s = ((s*(p/100))+s)+0.0001
  b += 1
  ls.append(s)
  print('Пробег за',b,'день: ', round(s, 1), 'км.')

total = sum(ls)
print("Суммарный пробег: ", round(total, 1),'км.')

# --------------
# Пример вывода:
#
# Пробег за 1-й день (км.) = 5
# На сколько увеличивает пробег (%) = 10
# Пробег за 2-й день: 5.5 км.
# Пробег за 3-й день: 6.1 км.
# Пробег за 4-й день: 6.7 км.
# Пробег за 5-й день: 7.3 км.
# Пробег за 6-й день: 8.1 км.
# Пробег за 7-й день: 8.9 км.
# Пробег за 8-й день: 9.7 км.
# Пробег за 9-й день: 10.7 км.
# Пробег за 10-й день: 11.8 км.
# Суммарный пробег: 79.7 км.

Пробег за первый день (км.) = 5
На сколько увеличивает пробег (%) = 10
Пробег за 2 день:  5.5 км.
Пробег за 3 день:  6.1 км.
Пробег за 4 день:  6.7 км.
Пробег за 5 день:  7.3 км.
Пробег за 6 день:  8.1 км.
Пробег за 7 день:  8.9 км.
Пробег за 8 день:  9.7 км.
Пробег за 9 день:  10.7 км.
Пробег за 10 день:  11.8 км.
Суммарный пробег:  79.7 км.

# № 4.2.15

Известна масса каждого предмета в кг., загружаемого в грузовик. Определить, возможна ли перевозка груза, если грузоподъемность грузовика равна p кг.

In [ ]:
p = int(input('Грузоподъемность грузовика (кг.) = '))
n = int(input('Количество предметов = ')) 

ls = list()

for x in range(n):
    a = int(input('Масса предмета (кг.) = '))
    ls.append(a)
if sum(ls)>p:
    print('Нет')
else:
    print('Да')


# --------------
# Пример вывода:
#
# Грузоподъемность грузовика (кг.) = 10
# Количество предметов = 2
# Масса 1-го предмета (кг.) = 3
# Масса 2-го предмета (кг.) = 3
# Да

Грузоподъемность грузовика (кг.) = 10
Количество предметов = 2
Масса предмета (кг.) = 3
Масса предмета (кг.) = 3
Да

# № 4.2.16

В области несколько районов. Заданы площади, засеваемые пшеницей (га.), и средняя урожайность (ц/га) в каждом районе.

Определите количество пшеницы, собранное по области. При выводе вещественных результатов оставьте один знак после запятой.

In [ ]:
n = int(input('Количество районов = '))   # Удалите комментарий и допишите код

ls = list()

for x in range(n):
    s = float(input('Площадь района (га) = '))
    y = float(input('Урожайность района (ц/га.) = '))
    i = y*s
    ls.append(i)


print(round(sum(ls), 1))
# --------------
# Пример вывода:
#
# Количество районов = 3
# Площадь 1-го района (га) = 4
# Урожайность в 1-м районе (ц/га.) = 2
# Площадь 2-го района (га) = 7
# Урожайность в 2-м районе (ц/га.) = 3
# Площадь 3-го района (га) = 9
# Урожайность в 3-м районе (ц/га.) = 4
# Собрано пшеницы: 65.0 ц.

Количество районов = 3
Площадь района (га) = 4
Урожайность района (ц/га.) = 2
Площадь района (га) = 7
Урожайность района (ц/га.) = 3
Площадь района (га) = 9
Урожайность района (ц/га.) = 4
65.0

# 4.2.4. Прерывание и продолжение циклов

# № 4.2.17

Решите задачу № 4.2.7, организовав бесконечный цикл, который бы прерывался при выполнении условия, используя оператор break.

In [ ]:
nums_sum = 0  # сумма
nums_count = 0  # количество
a = int(input('Введите число:'))
ls = list()

while a!=0:
    nums_count = nums_count+1
    ls.append(a)
    nums_sum = nums_sum+a
    a = int(input('Введите число: '))
    if a==0:
        break

print('Сумма = ', nums_sum)
print('Количество = ', nums_count)


# --------------
# Пример вывода:
#
# Введите 1-е число: 1
# Введите 2-е число: 2
# Введите 3-е число: 3
# Введите 4-е число: 4
# Введите 5-е число: 0
# Сумма = 10
# Количество = 4
#
# Введите 1-е число: 0
# Сумма = 0
# Количество = 0

Введите число:0
Сумма =  0
Количество =  0

# 4.2.5. Комбинация циклов и условий

# № 4.2.19

Выведите на экран (в строку) все целые числа от a до b, кратные некоторому числу c.

In [ ]:
a = int(input('a = ')) # Удалите комментарий и допишите код
b = int(input('b = ')) # Удалите комментарий и допишите код
c = int(input('c = ')) # Удалите комментарий и допишите код

ls = list()
for i in range(a, b+1):
    if i%c==0:
        ls.append(i)

print(ls)
# Удалите комментарий и допишите код

# --------------
# Пример вывода:
#
# a = 1
# b = 10
# c = 2
# 2 4 6 8 10

a = 1
b = 10
c = 2
[2, 4, 6, 8, 10]

# № 4.2.20

Выведите на экран (в строку) все трехзначные натуральные числа, сумма цифр которых равна целому числу n (0<n≤27).

In [ ]:
n = int(input('n = '))

ls = list()

for i in range(100, 1000):
    d = sum(int(e) for e in str(i))
    if d==n:
      ls.append(i)
print(ls)



# --------------
# Пример вывода:
#
# n = 3
# 102 111 120 201 210 300

n = 3
[102, 111, 120, 201, 210, 300]

# № 4.2.21

Известно количество учеников в классе и их рост (см.); рост мальчиков условно задан отрицательными числами. Определите средний рост мальчиков и средний рост девочек.

При выводе вещественных результатов оставьте один знак после запятой.

In [ ]:
n = int(input('n = '))  

a = 0
m = 0
b = 0
k = 0

for i in range(n):
  r = int(input('Рост ученикa = '))
  k += 1
  if r<0:
    a += 1
    m -= r
  else:
    b += r

r_sr_d = b / (n - a)
r_sr_m = m / a

print("Средний рост мальчиков: {:.1f}".format(r_sr_m))
print("Средний рост девочек: {:.1f}".format(r_sr_d))





# --------------
# Пример вывода:
#
# n = 5
# Рост 1-го ученика = 150
# Рост 2-го ученика = -150
# Рост 3-го ученика = 160
# Рост 4-го ученика = 170
# Рост 5-го ученика = 180
# Средний рост мальчиков: 150.0
# Средний рост девочек: 165.0

n = 5
Рост ученикa = 150
Рост ученикa = -150
Рост ученикa = 160
Рост ученикa = 170
Рост ученикa = 180
Средний рост мальчиков: 150.0
Средний рост девочек: 165.0

# № 4.2.22

Даны n вещественных чисел. Определите максимальное и минимальное из них.

При выводе вещественных результатов оставьте два знака после запятой.

In [ ]:
n = int(input('n = ')) 
a = float(input())
a_min=a_max=a
m = 1
while m<=n:
  l = float(input(str(m)+"-е число = "))
  m+=1
  if l<=a_max and l>a_min:
    a_max = l
  if l<a_max and l<a_min:
    a_min = l


         

print("Максимум: {:.2f}".format(a_max))
print("Минимум: {:.2f}".format(a_min))

# --------------
# Пример вывода:
#
# n = 4
# 1-е число = 6.2
# 2-е число = 3.8
# 3-е число = 1.1
# 4-е число = 9.66
# Максимум: 9.66
# Минимум: 1.10

n = 4
11
1-е число = 6.2
2-е число = 3.8
3-е число = 1.1
4-е число = 9.66
Максимум: 9.66
Минимум: 1.10