<a href="https://colab.research.google.com/github/IlinaAS/Osnovy_programming/blob/main/Lab5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python

# Выполнила: Ильина А.С.
# Группа: АДЭУ-221
# E-mail: alishass.ilyina@yandex.ru

# 5.2.1. Глобальные и локальные функции
# № 5.2.1

Определите значение ![image.png](), где sgn - сигнум-функция, а x и y - вещественные числа:

![image.png]()

In [ ]:
from math import *

In [ ]:
def input_data():

    return (float(x) for x in input('Введите x, y: ').split())


def sgn(a):
  if a > 0:
    res = 1
    return res
  elif a < 0:
    res = -1
    return res
  elif a == 0:
    res = 0
    return res

def znachenie(a,b):

  if (a==0 and b==0 or abs(a)==abs(b) or abs(a)-abs(b)==1): #одз
    return
  z=(sgn(a)+b**2)/(sgn(b)-sqrt(abs(a)))
  return z

def print_res(res):
    if res:
        print('Ответ: {:.2f}'.format(res))
    else:
        print('Проверить ОДЗ')

In [ ]:
x, y = input_data()
res = znachenie(x, y)
print_res(res)


# --------------
# Пример вывода:
#
# Введите x: -9
# Введите y: 0
# Ответ: 0.33

Введите x, y: -9 0
Ответ: 0.33

# № 5.2.2

Дан список температурных изменений в течение дня (целые числа). Известно, что измеряющее устройство иногда сбоит и записывает отсутствие температуры (значение None).

Выведите среднюю температуру за наблюдаемый промежуток времени, предварительно очистив список от неопределенных значений. Гарантируется, что хотя бы одно определенное значение в списке есть.

In [ ]:
def input_data():

  for i in range(n):
      dimension = input('Измерение {}-e: '.format(i + 1))
      if dimension == '-':
          data.append(None)
      else:
          data.append(int(dimension))
      i += 1

def avg(new_data):
    return sum(new_data) / len(new_data)

def cleared_data(data):
    new_data = []
    for x in data:
        if x != None:
            new_data.append(x)
    return new_data

def print_res2():
  z=avg(cleared_data(data))
  print('Средняя температура: {:.2f}'.format(z))

In [ ]:
n = int(input('Количество измерений: '))



data = []

input_data()

print_res2()

# --------------
# Пример вывода:
#
# Кол-во измерений: 3
# Измерение 1-е: 10
# Измерение 2-е: -
# Измерение 3-е: 20
# Средняя температура: 15.00

Количество измерений: 3
Измерение 1-e: 10
Измерение 2-e: -
Измерение 3-e: 20
Средняя температура: 15.00

# № 5.2.3

Выведите все счастливые номера билетов в диапазоне от a до b (положительные целые числа, a<b), если известно, что счастливым считается номер, у которого количество четных цифр равно количеству нечетных.

In [ ]:
def input_data():

    return (int(x) for x in input('Введите первый номер билета и последний номер билета: ').split())

def is_lucky(num):
    even = 0
    odd = 0
    for i in map(int, str(num)):
        if i % 2 == 0:
            even += 1
        else:
            odd += 1
    if even == odd:
        lucky_num.append(num)
    else:
        pass

def lucky_numbers(a,b):
      num = a
      while num in range(a,b + 1):
        is_lucky(num)
        if num in lucky_num:
            lk_num.append(num)
            num += 1
        else:
            num += 1

      return lk_num

In [ ]:
lucky_num = []
number = []
lk_num = []

a,b = input_data()

print(lucky_numbers(a, b))

# Вывод должен быть осуществлен в строку с одним пробелом-разделителем
# Удалите комментарий и допишите код

# --------------
# Пример вывода:
#
# Первый номер билета: 10
# Последний номер билета: 25
# 10 12 14 16 18 21 23 25

Введите первый номер билета и последний номер билета: 10 25
[10, 12, 14, 16, 18, 21, 23, 25]

# № 5.2.4

Дата характеризуется тремя натуральными числами: день, месяц и год. Учитывая, что год может быть високосным, реализуйте две функции, которые определяют вчерашнюю и завтрашнюю дату.

In [ ]:
def input_data():

    return (int(x) for x in input('День, месяц, год через пробел: ').split())


def is_leap(year):  # Определяем високосный год или нет и следовательно определяем количество дней в феврале
    if year % 4 == 0 and year % 100 != 0 or year % 400 == 0:
        febrary_day = 29
    else:
        febrary_day = 28
    return febrary_day

def days(month, year):
    # Вернуть количество дней в месяце 'month' года 'year' 
    month_day_31 = [1,3,5,7,8,10,12]
    month_day_30 = [4,6,9,11]
    if month in month_day_31:
        date = 31
    elif month in month_day_30:
        date = 30
    else:
        date = is_leap(year)
    return date

def previous_date(day, month, year):
    # Вернуть день, месяц, год предыдущего дня
    if day == 1:
        month -= 1
        if month == 0:
            year -= 1
            month = 12
            day = days(month, year)
        else:
            year = year
            month = month
            day = days(month, year)
    else:
        day -= 1
        month = month
        year = year
    return day, month, year

def next_date(day, month, year):
    # Вернуть день, месяц, год следующего дня.
    if day == days(month, year):
        month += 1
        if month == 13:
            month = 1
            year += 1
            day = 1
        else:
            month = month
            day = 1
            year = year
    else:
        day += 1
        month = month
        year = year
    return day, month, year

In [ ]:
day, month, year = input_data()
print('Предыдущий день: ', previous_date(day, month, year))
print('Следующий день: ', next_date(day, month, year))

# --------------
# Пример вывода:
#
# День, месяц, год через пробел: 1 3 2000
# Предыдущий день: 29/02/2000
# Следующий день: 02/03/2000

День, месяц, год через пробел: 1 3 2000
Предыдущий день:  (29, 2, 2000)
Следующий день:  (2, 3, 2000)

№ 5.2.7

Даны n предложений. Определите, сколько из них содержат хотя бы одну цифру.

In [ ]:

def has_digits(sentence):
    
    # Удалите комментарий и допишите код


def sentences_with_digits_count(sentences):
    """!!!."""
    # Удалите комментарий и допишите код


n = int(input('Введите количество предложений: '))
print()

# Удалите комментарий и допишите код

# --------------
# Пример вывода:
#
# Введите количество предложений: 3
# Введите предложение №1:
# Просто текст
# Введите предложение №2:
# Текст с цифрой 1 (один)
# Введите предложение №3:
# Тут нет цифры
# Предложений с цифрой = 1

IndentationError: ignored

# № 5.2.8

Дана строка s и символ k. Реализуйте функцию, рисующую рамку из символа k вокруг данной строки, например:

![image.png]()

In [ ]:
def print_with_border(s, k):
    s_len = len(s)
    print(k * (s_len + 2))
    print(k + s + k)
    print(k * (s_len + 2))

In [ ]:
s = input("Введите строку: ")
k = input("Введите символ: ")

print_with_border(s, k)

# --------------
# Пример вывода:
#
# Введите строку: Просто текст
# Введите символ: +
# ++++++++++++++
# +Просто текст+
# ++++++++++++++

Введите строку: Просто текст
Введите символ: +
++++++++++++++
+Просто текст+
++++++++++++++

# № 5.2.11

Используя шифр Цезаря (достаточно только букв русского алфавита, знаки препинания не изменяются), зашифруйте, а затем расшифруйте введенную строку.

In [ ]:
def ceasar(text, shift):
  letters = [chr(i) for i in range(ord('а'), ord('я') + 1)]
  letters_upper = [chr(i) for i in range(ord('А'), ord('Я') + 1)]
  res, n = [], ""
  for i in range(len(text)):
    if text[i] in letters:
            n = letters
    elif text[i] in letters_upper:
        n = letters_upper
    else:
        res.append(text[i])
    if text[i] in n:
           
        for j in range(len(n)):
            if 0 <= j + shift < len(n) and text[i] == n[j]:
                res.append(n[j + shift])
            elif j + shift >= len(n) and text[i] == n[j]:
                res.append(n[(1 - j - shift) % (len(n) - 1)])
            elif j + shift < 0 and text[i] == n[j]:
                res.append(n[(j + shift) % len(n)])
  return ''.join(res)

In [ ]:
text = input('Введите предложение: ')
shift = int(input('Введите сдвиг: '))

encoded = ceasar(text, shift)
decoded = text
print("Зашифрованная строка:", encoded)
print("Расшифрованная строка:", decoded)

# --------------
# Пример вывода:
#
# Введите предложение: ПрограММиРОВание С++
# Введите сдвиг: 4
# Зашифрованная строка: УфтзфдРРмФТЖдсмй Х++
# Расшифрованная строка: ПрограММиРОВание С++

Введите предложение: ПрограММиРОВание С++
Введите сдвиг: 4
Зашифрованная строка: УфтзфдРРмФТЖдсмй Х++
Расшифрованная строка: ПрограММиРОВание С++

# № 5.2.16

Составьте две функции для возведения числа в степень: один из вариантов реализуйте в рекурсивном стиле.

In [ ]:
def NumPowRecursion(a, n):
    return 1 if n == 0 else a * NumPowRecursion(a, n - 1)

In [ ]:
def NumPowIter(a, n):
    res = a
    while n - 1 > 0:
        res = res*a
        n -= 1
    return res

In [ ]:
import time
a=2
n=700
start_time = time.time()

print(NumPowRecursion(a, n), (time.time() - start_time))

5260135901548373507240989882880128665550339802823173859498280903068732154297080822113666536277588451226982968856178217713019432250183803863127814770651880849955223671128444598191663757884322717271293251735781376 0.0012774467468261719

# № 5.2.17

Дано натуральное число. Напишите рекурсивные функции для определения:

суммы цифр числа;

количества цифр в числе.

In [ ]:
def digits_sum(value):
    if value == 0:
        return 0
    else:
        return(value%10) + digits_sum(value//10)


def digits_count(value):
    if value == 1:
        return 1
    else:
        return value**0 + digits_count(value//10)


print(digits_sum(12345))
print(digits_count(12345))

# --------------
# Пример вывода:
#
# 15
# 5

15
5